<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="textext" name="Test Extension" schema="schema/textext.exsd"/>
   <extension
         id="metrixview"
         name="Metrix"
         point="pt.iscte.pidesco.view">
      <view
            class="pa.iscde.metrix.view.MetrixView"
            icon="smiley.png">
      </view>
   </extension>
   <extension
         id="Test"
         name="MetrixView"
         point="pa.iscde.metrix.textext">
      <item
            class="pa.iscde.metrix.item1">
      </item>
   </extension>

</plugin>
